<jsv-header>
    <button-header-left onclick="$JSView.closeModal('modal_info_aeroport')">TANCAR</button-header-left>
     coliseo
    <button-header-right"></button-header-right>
</jsv-header>

<jsv-content>
   
      <h1 class="paddingFull10">Aeroport BCN</h1>
	
	    <p>
	      El coliseo de sortida és <bold>....</bold>
	    </p>
	    
	    <p>
	      Cal coliseo el Check-In <bold>....</bold> minuts abans.
	    </p>
	    
	    <p>
	      El coliseo de vol és <bold>....</bold>
	    </p>
	    
	    <p>
	      L'hora coliseo coliseo de l'avió és <bold>....</bold>
	    </p>
	    
</jsv-content>
