<jsv-header>
    <button-header-left onclick="$JSView.closeModal('modal_info_aeroport')">TANCAR</button-header-left>
     novona
    <button-header-right"></button-header-right>
</jsv-header>

<jsv-content>
   
      <h1 class="paddingFull10">novona novona</h1>
	
	    <p>
	      El novona de novona és <bold>....</bold>
	    </p>
	    
	    <p>
	      Cal novona Check-In <bold>....</bold> minuts abans.
	    </p>
	    
	    <p>
	      El novona novona vol és <bold>....</bold>
	    </p>
	    
	    <p>
	      L'hora de novona de l'avió és <bold>....</bold>
	    </p>
	    
</jsv-content>
