<jsv-header>
    <button-header-left onclick="$JSView.closeModal('modal_info_aeroport')">TANCAR</button-header-left>
     sanpietro
    <button-header-right"></button-header-right>
</jsv-header>

<jsv-content>
   
      <h1 class="paddingFull10">Aeroport BCN</h1>
	
	    <p>
	      El sanpietro de sortida és <bold>....</bold>
	    </p>
	    
	    <p>
	      Cal fer elsanpietroCheck-In <bold>....</bold> minuts abans.
	    </p>
	    
	    <p>
	      El número sanpietro vol és <bold>....</bold>
	    </p>
	    
	    <p>
	      L'hora de sanpietro de l'avió és <bold>....</bold>
	    </p>
	    
</jsv-content>
